<!-- 결제 성공시에 나오는 페이지 입니다. -->
<!DOCTYPE html>
<html lang="ko">
<head>
    <title>결제 성공</title>
    <meta charset="UTF8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

</head>
<body>
<section>
<% if(isSuccess) { %>
      <h1>결제 성공</h1>
        <h3> 예약신청내역 확인</h3>

	<table>
		
<tr >
			<th>order id</th><th>${Payment.paymentpk}</th>
</tr>
<tr >
			<th>예약날짜</th><th>${Payment.startday}</th>
</tr>
<tr >
			<th>시간</th><th>${Payment.starttime}~${Payment.endtime}</th>
</tr>
<tr >
			<th>금액</th><th>${Payment.totalprice}</th>
</tr>
<tr >
			<th>전공/부전공</th><th>${Payment.majorname}/${Payment.submajorname}</th>
</tr>
<tr >
			<th>Mentor 이름</th><th>${Payment.username}</th>
</tr>
<tr >
			<th><a href="/MentoringProject/menteeBookinglist.do">메인으로</a></th><th><a href="/MentoringProject/menteeBookingList.do">예약리스트 보러가기</a></th>
</tr>
</table>
        <input type="hidden" value="결과 데이터: <%= jsonObject.toJSONString() %>">
    <% } else { %>
    <h1>결제 실패</h1>
    <p>HTTP error code: <%= code %> </p>
    <p><%= jsonObject.get("message") %></p>
    <span>에러코드: <%= jsonObject.get("code") %></span>
<% } %>
</section>

</body>
</html>