<%@page contentType="text/html" pageEncoding="UTF-8"%>
<!DOCTYPE html>
<html>
    <head>
        <title>스케쥴 데이터를 입력하세요</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

        <script>
            $(function () {
            	$("#datepicker1").datepicker({ dateFormat: "yy-mm-dd" }).val()
                $("#datepicker1").datepicker();
            });
            $(function () {
            	$("#datepicker2").datepicker({ dateFormat: "yy-mm-dd" }).val()
                $("#datepicker2").datepicker();
            });
        </script>
        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
        <link rel="stylesheet" href="css/calendar.css"/>
    </head>
    <body>
    <h2>스케쥴 데이터를 입력하세요</h2>
    <!-- 달력을 보여주는 jsp:include  이 달력을 div 로 묶어서 적당한 크기로 보여줄수 있을까요...customCalendar.html 첨부 하겠습니다..-->
    <!-- 다시 생각해 보니 include 안하고 customCalendar.html을 여기로 불러왔습니다! -->
    <!-- <jsp:include page="customCalendar.jsp" flush="true"/> -->
    <div id="calendar">

    </div>
     <form action="insertScheduleAction.do?productpk=<%=request.getParameter("productpk")%>" method="post">
      멘토링 가능날짜를 선택하세요
      <table>
	      <tr> 
		      <td>
            <label for="datepicker" />
                <input type="text" name="startday" id="datepicker1">
		      </td>
		      <td>
            <label for="datepicker" />
                <input type="text" name="endday" id="datepicker2">
		      </td>
	      </tr>
      
      </table>

 
 
		</select> <select name="starttime">
    <%
    for(int i = 10;i<22;i++) { %>
        <option value= <%= i %> > <%= i %></option>
    <% } %>
</select> ~
		</select> <select name="endtime">
    <%for(int i = 10 ;i<22;i++) { %>
        <option value= <%= i %> > <%= i %></option>
    <% } %>
</select>

            <td colspan="2"><input type="submit" value="입력">
       </form>
        
 <script type="text/javascript" src="js/calendar.js"></script>
    <script>

        var events = [
          {
            'Date': new Date(2018, 5, 7),
            'Title': 'evento 1',
            'Link': function(){
                      console.log(new Date(2018, 5, 7));
                        
                    }
          },
 /*         {'Date': new Date(2018, 4, 18), 'Title': 'evento 2', 'Link': 'https://garfield.com'},
          {'Date': new Date(2018, 5, 27), 'Title': 'evento 3', 'Link':  function(){alert("le diste click a este evento");}},*/
        ];
var settings = {
  Color: '',
  LinkColor: '',
  NavShow: true,
  NavVertical: false,
  NavLocation: '',
  DateTimeFormat: 'mmm, yyyy',
  DatetimeLocation: '',
  EventTargetWholeDay: true,
  DisabledDays: []
};

var element = document.getElementById('calendar');
caleandar(element, events, settings);
    </script>
  </body>
</html>